<div class="jumbotron container section">
  <div class="jumbotron boxlogin container">



      <form action="/new" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="name">
      <br></br>
        <label for="place">place</label>
        <input type="text" name="place" id="place">
      <br></br>
        <label for="city">city</label>
        <input type="text" name="city" id="city">
      <br></br>
        <label for="date">date</label>
        <input type="date" name="date" id="date">
      <br></br>
        <label for="description">Description</label>
        <textarea type="text" name="description" id="description"></textarea>
      <br></br>
      <label for="category">Tipos</label>
        <select  name="category">
         <option value="cielo profundo">Cielo Profundo</option>
          <option value="sitema solar">Sistema Solar</option>
          <option value="luna">Luna</option>
        </select>
        <br>
        <div class="form-group">

          <label for="imageUrl">Image URL</label>
          <input type="file" name="imageUrl"  class="form-control">
        </div>

        <button class="btn btn-success" type="submit">Create Event</button>

      </form>

    </div>

</div>
