html {
  margin: 0px;
  padding: 0px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FAFAFE;
  color: #2E2545;
  padding-top: 80px;
}

h3 {
  color: #FAFAFE;
  text-align: center;
}

.carousel-inner>.item {
  min-height: 600px;
  background-size: cover;
  background-position: center center;
}

.navbar-brand, .navbar-nav>li>a {
  height: 80px;
  line-height: 50px;
}

.footer {
  color: #FAFAFE;
  margin-top: 60px;
  width: 100%;
}

.boxlogin {
  text-align: center;
  width: 320px;
  margin: 50px auto;
  border-radius: 4px;
  box-shadow: 0px 2px 10px grey;
}

input {
  margin-bottom: 10px;
}

h1, h2 {
  text-align: center;
}

.section {
  background-image: url('/images/slide4.jpg');
  background-size: cover;
  background-position: center center;
  min-height: 600px;
  width: 100%;
}

.jumbotron h1 {
  color: #FAFAFE;
}

.containerText {
  width: 70%;
  margin: 50px auto 0;
  padding: 10px;
  border-radius: 20px;
  background-color: #2E2545;
  text-align: center;
}

.characters-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.operations {
  margin: 0 auto;
  padding: 5px;
}

.operation {
  margin: 20px 0 0;
}

.form-container {
  display: inline-block;
  width: 49%;
  margin: 30px auto 0;
  vertical-align: top;
}

.character-form {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  clear: both;
}

.character-form label {
  width: 100px;
  display: inline-block;
}

.field {
  margin: 5px 0;
}

#send-data {
  margin: 10px 0 0 120px;
}

.text-event {
  color: #FAFAFE;
}

li {
  list-style: none;
}

img {
  margin-top: 80px;
  margin-bottom: 10px;
  width: 250px;
}

.jumbotron p {
  margin-bottom: 15px;
  font-weight: 200;
  font-size: 15px;
  margin-top: 20px;
}
.btn{
  background-color: #2E2545;
  color: #FAFAFE;
}
.btn:hover {
    color: lightgrey;
    text-decoration: none;
}
#description{
  margin-bottom: 20px;
}
.site-footer{
  background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
  color:  #9d9d9d;
  margin-top: 30px;
  padding-top: 30px;
}
.bottom-footer{
  border-top: 1px solid  #FAFAFE;
  margin-top: 10px;
  padding-top: 10px;

}
.footer-nav{
  text-align: right;
  list-style: none;
}
.footer-nav li{
  display: inline;
  
}

.footer-nav, a {
  color:#9d9d9d;
}
.footer-nav, a:hover{
  color:#FAFAFE;
}
