
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image: url(images/slide1.jpg)">
      <div class="carousel-caption">
        <h2>Eventos ¡Descubramos juntos las estrellas!</h2><br>
        <p>«Lo más importante de este estudio es que ha podido verificar por primera vez que hay estrellas que tienen una estructuras magnéticas completamente distintas a las del Sol», ha explicado a ABC Rachael Roettenbacher, astrofísica y primera autora del estudio.</p>
      </div>
    </div>
    <div class="item" style="background-image: url(images/slide2.jpg)">
      <div class="carousel-caption">
        <h2>Conoce todas las constelaciones</h2><br>
        <p>La vida en nuestro planeta depende del fino equilibrio alcanzado en el Sol, una esfera ardiente en la que caben un millón de Tierras y en cuyo interior se alcanzan temperaturas de 15 millones de grados centígrados. En gran parte, la clave está en el campo magnético solar. Este es el responsable de la aparición de poderosas explosiones que liberan radiación y materia, las fulguraciones, y la fluctuación de los ciclos de actividad, fenómenos ambos que en el pasado pudieron causar extinciones masivas, .</p>
      </div>
    </div>
    <div class="item" style="background-image: url(images/slide3.jpg)">
      <div class="carousel-caption">
        <h2>Únete a nuestra comunidad</h2><br>
        <p>Si el Sol tiene tanta repercusión para la vida en la Tierra, también debería ocurrir algo parecido en las estrellas más lejanas. El problema es que la física solo puede llegar a ellas a través de complejas técnicas, y que aún así todavía no ha podido averiguar cómo funciona el campo magnético de las estrellas más activas: ellas son auténticos torbellinos de radiación que no siguen las mismas reglas que el Sol. Pero este miércoles, un estudio presentado en la revista «Nature», por parte de investigadores del Instituto Niels Bohr, en Dinamarca, ha mostrado, por primera vez, cómo funciona una de estas estrellas. El avance puede transfomar nuestra comprensión de la física de las estrellas.</p>
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
